<configuration scan="true">

    <!-- console appender to log into out stream -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{100} : %m in %M -> %n %ex{5} %n</pattern>
        </encoder>
    </appender>

    <!-- compressed daily file appender. oldest is deleted after one year -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/warehousemanagement.log</file>
        <encoder>
            <Pattern>%d{HH:mm:ss.SSS} [%-5level] %logger{100} : %m in %M -> %n %ex{5} %n</Pattern>
        </encoder>
    </appender>

    <logger name="com.itensis.ecat" level="INFO">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.springframework" level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.hibernate" level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>

    <logger name="org.hibernate.type" level="WARN">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </logger>
</configuration>
